/* Background styling for the body */
body {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(220, 220, 220, 0.443) 0%, rgba(220, 220, 220, 0.443) 17%);
}

/* Styling for the gameList table */
#gameList {
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Styling for the top row of the table */
#top {
  background-color: darkcyan;
}

/* Styling for rounded dividers */
hr.rounded {
  border-top: 5px solid darkcyan;
  border-radius: 5px 5px 5px 5px;
  width: 5%;
}

/* Heading 2 styling */
h2 {
  color: rgb(51, 51, 51);
  font-family: Impact, fantasy;
  margin-bottom: 10px;
  font-size: 55px;
  text-shadow: #b62f2f;
  font-weight: 30;
  line-height: auto;
  padding-top: 2em;
  padding-bottom: 50px;
  text-align: center;
  width: fit-content;
}

h4 {
  color: rgb(51, 51, 51);
  font-family: Impact, fantasy;
  font-weight: 30;
  line-height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

h3 {
  font-family: Impact, fantasy;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

label {
  padding: 5px;
  width: 5em;
  text-align: end;
}

footer {
  background: rgb(212, 212, 212);
  background: radial-gradient(circle, rgba(212, 212, 212, 1) 0%, rgba(0, 0, 0, 0) 0%, rgba(51, 51, 51, 1) 0%);
  color: #f2f2f2;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
}

/* Custom button styling for consistent theme colors */
.custom-button {
  background-color: #008b8b;
  color: white;
}

/* Custom circle background for logo */
.circle {
  width: 80px;
  height: 80px;
  border-radius: 45px;
  background-color: white;
  margin-bottom: 1em;
  z-index: 3;
}

/* Logo styling */
.logo {
  width: 10em;
  padding-inline-end: 50%;
  padding-top: 15%;
}

.footer-content {
  font-size: small;
}

/* Copyright information styling */
.copyright {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: small;
  padding: 8px;
}

/* Customized font 'v' instead of using icon */
.sort-symbol {
  font-weight: 10;
}

/* Content styling to format paragraph nicely */
.content {
  margin-bottom: 20em;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  text-align: center;
  justify-content: center;
}

/* Menu bar styling */
.topnav {
  background-color: darkcyan;
  color: #333333;
  align-items: center;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  position: fixed;
  transition: 1s;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px 2.5px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

/* Styling for links inside menu nav bar */
.topnav a {
  font-family: Impact, fantasy;
  float: left;
  display: inline;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

/* Styling for links on hover */
.topnav a:hover {
  background-color: rgb(0, 92, 92);
  border-radius: 10px;
  color: black;
}

/* Styling for the active/current link */
.topnav a.active {
  background-color: white;
  color: #333333;
}

/* Styling for the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 50px;
  width: auto;
  text-align: center;
  transition: 0.7s;
  z-index: 10;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/423/325/original/white-gradient-stripes-wallpaper-white-and-grey-line-diagonal-background-empty-dynamic-minimal-line-pattern-blank-light-gray-futuristic-linear-banner-illustration-vector.jpg");
}

/* Styling for the card on hover */
.card:hover {
  transform: scale(1.1);
}

/* Styling for the card on active state */
.card:active {
  .card-body {
    transform: rotateY(180deg);
  }
  transform: rotateY(180deg);
}

/* Responsive columns for small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive image styling */
.responsive {
  align-self: center;
  width: 20%;
  height: auto;
}

/* Styling for the carousel */
.carousel-inner .carousel-item {
  transition: -webkit-transform 6s ease;
  transition: transform 6s ease;
  transition: transform 6s ease, -webkit-transform 6s ease;
}

/* Styling for the carousel container */
.carousel {
  overflow: hidden;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.252);
  border-radius: 55px 55px 55px 55px;
}

/* Styling for carousel inner container */
.carousel-inner {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* Styling for the carousel item on active state */
.carousel-inner .carousel-item:active {
  animation: tilt-shaking 0.5s;
  animation-iteration-count: infinite;
}

/* Dropdown button styling */
.dropbtn {
  background-color: darkcyan;
  color: rgb(51, 51, 51);
  align-items: center;
  display: flex;
  height: auto;
  border-radius: 25px 25px 25px 25px;
  position: fixed;
  padding: 16px;
  font-family: Impact, fantasy;
  font-size: 16px;
  margin: 10px;
  border: none;
  transition: 1s;
  box-shadow: 10px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* Dropdown container styling */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content styling */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: darkcyan;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

/* Styling for links inside dropdown */
.dropdown-content a {
  font-family: Impact, fantasy;
  padding: 16px;
  color: rgb(51, 51, 51);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  box-shadow: 10px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* Styling for links inside dropdown on hover */
.dropdown-content a:hover {
  background-color: rgb(0, 92, 92);
  color: black;
}

/* Display dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button when dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Fix an issue with cards layering on top of the menu */
#menu-btn {
  z-index: 100;
}

/* Keyframe animation for the tilt-shaking effect */
@keyframes tilt-shaking {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
